<% if logged_in? %>

<h1 class="title">Tell me</h1>

<%= form_for @gossip, url: {action: "create"} do |f| %>
<div class="form-group">
    <%= f.text_field :title, placeholder: 'Title', class: "form-control" %>
</div>
<div class="form-group">
<%= f.text_area :content, placeholder: 'Gossip', class: "form-control" %>
</div>
<div class="form-group">
    <button class ="btn btn-outline-dark" type="submit">Create</button>
</div>
<% end %>

<%else%>

<p> If you want to write a gossip, sign now ! </p>

<%end%>
